  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <!-- <span>Transaction</span> -->
        <span [routerLink]="['/basic-accounts']">
          Transaction
        </span>
        
      </button>
     
    </mat-menu>
    <span>Internet banking</span>
    
   
  </mat-toolbar>



<a [routerLink]="['/dashboard']">
  link to dashboard component 
 </a>

 <br>

 <a [routerLink]="['/basic-accounts']">
  link to basic account component
 </a>

 

 <!-- <div ngFor="let item of transactionList">

 </div>

 <div ngIf="transactionData">
  
 </div> -->
 

<router-outlet></router-outlet>
